<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new task..." %>
    <%= f.label :priority %>:
    <%= f.select :priority, Task::PRIORITIES %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>